<!DOCTYPE html>
<html>
<head>
	<title> Animals </title>
</head>
<body>
	<figure>
		<img src="../images/pic2.jpg" width=225px height=163.2px alt="me feeding an alpaca with carrots">
		<figcaption> I don't like carrots, but alpacas love them. </figcaption>
	</figure>
	<figure>
		<img src="../images/pic3.jpg" width=225px height=193.2px alt="me feeding seagulls with breadcrumbs">
		<figcaption> It hurts a little when the seagull accidently bite your hand, but I still want to feed them. </figcaption>
	</figure>
<a href="../index.html">GO BACK</a>

</body>
</html>