<!DOCTYPE html>
<html>
<head>
	<title> Taiwan </title>
</head>
<body>
	<figure>
		<img src="../images/pic5.jpg" width=468px height=253.4px alt="an old but lovely house">
		<figcaption>This is my home from Google map. </figcaption>
	</figure>

	<figure>
		<img src="../images/pic6.jpg" width=277.7px height=277.7px alt="my grandmother and I making rice dumplings">
		<figcaption>This is my grandmother teaching me how to make rice dumplings on dragon boat festival. </figcaption>
	</figure>

	<figure>
		<img src="../images/pic7.jpg" width=320px height=213.6px alt="a seven-eleven shop">
		<figcaption> This is the nearest shop to my home, also my favourite one. There are 7-11s in US too but they are really different. </figcaption>
	</figure>

	<a href="../index.html">GO BACK</a>